body{
    font-family: Arial;
    margin: 20px;
    background-color: white;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card{
    border: 1px solid black;
    padding: 15px;
}

@media screen and (max-width:600px){

    .main{
        grid-template-columns: 1fr;
    }

}